.contenedor {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.buscador {
  text-align: center;
  margin-bottom: 15px;

  input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}

.btn-agregar {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: block;
  margin: 10px auto;
}

table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #f4f4f4;
  }

  td button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
  }
}
